﻿@model GitLoveApp.Models.Devotional

@{
    ViewBag.Title = "Post New Devotional";
}
<br />
<h3 style="text-align:center">Create new devotional</h3>
<br />
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div style="text-align:center">
                @Html.TextAreaFor(model => model.DevotionalPost, 10, 40, null)
                @Html.ValidationMessageFor(model => model.DevotionalPost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div style="text-align:center">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@*<h4 style="text-align:center">@Html.ActionLink("View your list of devotionals", "Index")</h4>*@
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
