﻿@model GitLoveApp.Models.Devotional

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Devotional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevotionalPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevotionalPost)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DevotionalId }) |
    @Html.ActionLink("Back to Home", "Index", "Home")
    @Html.ActionLink("Create new devotional", "Create")

</p>
