﻿@model IEnumerable<GitLoveApp.Models.Devotional>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevotionalPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevotionalPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DevotionalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DevotionalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DevotionalId })
        </td>
    </tr>
}

</table>
