﻿
@{
    ViewBag.Title = "ThankYou";
}
<br />
<br />
<h2 class="lead text-center">Thank you for participating.</h2>
<p class="lead text-center">Please log in often to submit all your devotionals.</p>
<br />
<br />
<h4 style="text-align:center">@Html.ActionLink("Post a new devotional", "Create", "Devotional")</h4>
<br />
<br />
<h4 style="text-align:center">@Html.ActionLink("Back to Home", "Index", "Home")</h4>
<br />
<br />