﻿@using GitLoveApp.Models

@model LoginViewModel


@{
    ViewBag.Title = "Log in";
}

<br />
<br />
<div class="row">
    <div class="col-md-offset-3">
        <section id="loginForm">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-offset-3">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <div class="col-md-offset-3">
                        <input type="submit" class="btn btn-primary btn-lg" value="Log in" />
                    </div>
                </div>
            }
        </section>
    </div>

</div>
<br />
<br />
<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}