﻿@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
            <h1>GitLove</h1>
        </div>

        <p class="lead text-center">
            GitLove is a christian devotional repository built by anyone who wants to share
            their love and experiences.
        </p>
        <p class="lead text-center">
            We beleive that all people have a story to tell.  This is a way to
            give everyone more love in their day, help those in pain, and better someone's day.  How has the
            bible affected you in a positive way.  How can your story help other people in similar situations?
        </p>
    </div>
</div>

<div class="divider" id="section2"></div>

<section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Register and be able to share your experiences.</h2></div>
</section>

<div class="divider"></div>

<div class="form-group" style="text-align:center">

    <h2>Getting started</h2>

    <p>All you have to do is register with the button below.</p>
    <p>After that you will be able to write your own devotionals,</p>
    <p>see a list of all you have written, and be able to start receiving </p>
    <p>daily emails of the devtionals that have been submitted by all who wrote them. </p>

    <p><a class="btn btn-default" href="http://gitloveapp.azurewebsites.net/Account/Register">Sign Up &raquo;</a></p>

</div>

<div class="divider"></div>


<section class="bg-2">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Let us lead with love.</h2></div>
</section>


<div class="divider"></div>

<section class="bg-3" id="section4">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Please donate to help us grow.</h2></div>
</section>



<div class="divider" id="section5"></div>

<div class="row">

    <h1 class="text-center">This is where it all begins</h1>

    <div id="map-canvas"></div>

    <hr>

    
    <div class="col-sm-3 pull-right">

        <address>
            <strong>Donate</strong><br>
            Bill Vickers<br>
            3653 Regent Blvd #504<br>
            Jacksonville, FL 32224<br>
            P: (904) 412-9526
        </address>

        <address>
            <strong>Email Us</strong><br>
            <a href="mailto:#">bill-vickers@att.net</a>
        </address>
    </div>

</div><!--/row-->

@*<div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2>Beautiful Bootstrap Templates</h2>

        <hr>
        <h4>
            We love templates. We love Bootstrap.
        </h4>
        <p>Get more free templates like this at the <a href="http://bootply.com">Bootstrap Playground</a>, Bootply.</p>
        <hr>
        <ul class="list-inline center-block">
            <li><a href="http://facebook.com/bootply"><img src="/assets/example/soc_fb.png"></a></li>
            <li><a href="http://twitter.com/bootply"><img src="/assets/example/soc_tw.png"></a></li>
            <li><a href="http://google.com/+bootply"><img src="/assets/example/soc_gplus.png"></a></li>
            <li><a href="http://pinterest.com/in1"><img src="/assets/example/soc_pin.png"></a></li>
        </ul>

    </div><!--/col-->
</div><!--/container-->*@



<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>